[submodule "External/roundware-ios-framework-v2"]
	path = External/roundware-ios-framework-v2
	url = git@github.com:hburgund/roundware-ios-framework-v2.git
	branch = develop
[submodule "External/Alamofire"]
	path = External/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
